body
{
  color: #008080;
  background-color: #c0c0c0;
}

.tag
{
  font-size: smaller;
}

.SYSTEM
{
  color: #000000 !important;
}

.ADMIN
{
  color: #800000 !important;
}

.GM
{
  color: #c04000 !important;
}

.username
{
  font-style: oblique;
}

.message
{

}

.time
{
  font-size: smaller;
  font-variant: small-caps;
}
